@model vkaudioposter_ef.Model.ParserXpath

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ParserXpath</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Xpath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Xpath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.XpathInner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.XpathInner)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
